﻿@using System.Threading
@using Fotofly.BingMapsForEnterprise
@model Dat210.PhotoManager.Web.Models.GalleryViewModel
@{
    ViewBag.Title = "Bildegalleri";
}

<div class="sort-box">
    <h2>Bildegalleri</h2>
    <form name="searchForm">
        <input class="sortSearch" name="tag" type="text" placeholder="Søk..." />
    </form>
    <p>
        <ul class="years">
            @foreach (var year in Model.Images.GroupBy(i => i.Taken.Year))
            {
                DateTime yearStart = new DateTime(year.Key, 1, 1);
                DateTime yearEnd = yearStart.AddYears(1);
                <li>
                    <a href="?Tag=@Model.Filter.Tag&FromDate=@yearStart.ToString("yyyy-MM-dd")&ToDate=@yearEnd.ToString("yyyy-MM-dd")">@year.Key</a>

                    <ul>
                        @{
                            var mfi = Thread.CurrentThread.CurrentUICulture.DateTimeFormat;
                            foreach (var month in year.GroupBy(i => i.Taken.Month))
                            {
                                var startDate = new DateTime(year.Key, month.Key, 1);
                                var endDate = startDate.AddMonths(1);
                                string strMonthName = mfi.GetMonthName(month.Key);
                                <li><a href="?Tag=@Model.Filter.Tag&FromDate=@startDate.ToString("yyyy-MM-dd")&ToDate=@endDate.ToString("yyyy-MM-dd")">@strMonthName</a></li>
                            }
                        }

                    </ul>
                </li>
            }
        </ul>
    </p><br />
    <h4>Rating: </h4>
    <ul class="rating nostar" >
        <li class="one"><a href="?Tag=@Model.Filter.Tag&FromDate=@Model.Filter.FromDate&ToDate=@Model.Filter.ToDate&MinimumRating=1" title="1 Star">1</a></li>
        <li class="two"><a href="?Tag=@Model.Filter.Tag&FromDate=@Model.Filter.FromDate&ToDate=@Model.Filter.ToDate&MinimumRating=2" title="2 Stars">2</a></li>
        <li class="three"><a href="?Tag=@Model.Filter.Tag&FromDate=@Model.Filter.FromDate&ToDate=@Model.Filter.ToDate&MinimumRating=3" title="3 Stars">3</a></li>
        <li class="four"><a href="?Tag=@Model.Filter.Tag&FromDate=@Model.Filter.FromDate&ToDate=@Model.Filter.ToDate&MinimumRating=4" title="4 Stars">4</a></li>
        <li class="five"><a href="?Tag=@Model.Filter.Tag&FromDate=@Model.Filter.FromDate&ToDate=@Model.Filter.ToDate&MinimumRating=5" title="5 Stars">5</a></li>
    </ul><br />
    <h4>Mest brukte tags:</h4>
    @foreach (var tag in Model.MostlyUsedTags)
    {
        <pre class="tag"><a href="?Tag=@tag&FromDate=@Model.Filter.FromDate&ToDate=@Model.Filter.ToDate">@tag</a></pre>
    }
</div>
<div class="gallerybox">
    @{
        bool linkRemSet = false;
        if (!String.IsNullOrEmpty(Model.Filter.Tag))
        {
            @:Kategori: <pre class="tag">@Html.ActionLink(Model.Filter.Tag, "Index", new {tag = Model.Filter.Tag})</pre><br />
            linkRemSet = true;
        }
        if (!String.IsNullOrEmpty(Model.Filter.MinimumRating.ToString()))
        {
            @:Rating: @Model.Filter.MinimumRating <br />
            linkRemSet = true;
        }
        if (!String.IsNullOrEmpty(Model.Filter.FromDate.ToString()))
        {
            linkRemSet = true;
        }
        
        if(linkRemSet) { @Html.ActionLink("« Fjern filtrering", "Index")<br /> }
    }
    @{
        if (Model.Images.Any())
        {
            <div style="clear:both;"></div>
            <div>
                @foreach (var year in Model.Images.GroupBy(i => i.Taken.Year))
                {
                    DateTime yearStart = new DateTime(year.Key, 1, 1);
                    DateTime yearEnd = yearStart.AddYears(1);
                    var mfi = Thread.CurrentThread.CurrentUICulture.DateTimeFormat;

                    if (Model.Filter.GroupByDate)
                    {
                        <div style="clear:both;font-weight:bold;">@year.Key.ToString("d")</div>
                    }

                    foreach (var month in year.GroupBy(i => i.Taken.Month))
                    {
                        var startDate = new DateTime(year.Key, month.Key, 1);
                        var endDate = startDate.AddMonths(1);
                        string strMonthName = mfi.GetMonthName(month.Key);
                        if (true) { 
                        <div style="clear: both; text-align:center; padding-top: 5px;">
                            <h4><a href="?Tag=@Model.Filter.Tag&FromDate=@startDate.ToString("yyyy-MM-dd")&ToDate=@endDate.ToString("yyyy-MM-dd")">@year.Key - @strMonthName</a></h4>
                            <hr />
                        </div>
                        }

                        foreach (var image in month)
                        {

                            <div style="width:122px;height:92px;float:left;position:relative;">
                                <a href="@Url.Content("~/Image/View/" + image.Id)">
                                    <img style="margin: auto; position: absolute; top: 0; bottom: 0;right:0;left:0;"
                                         src="@Url.Content("~/Image/SmallThumbnail/" + image.Id + "?hash=" + image.Hash)"
                                         alt="@image.Name" title="@image.Name" />
                                </a>
                            </div>
                        }
                    }


                }
            </div>
            <div style="clear:both;"></div>
        }
        else
        {
            <p>Fant ingen bilder med de angitte kriterier.</p>
        }

    }
    <div style="clear:both;"></div>

    @if (Model.HasPrevious)
    {
        <p>@Html.ActionLink("Forrige side", "Index", new { PageNumber = (Model.Filter.PageNumber - 1), PageSize = Model.Filter.PageSize, Order = Model.Filter.Order, Tag = Model.Filter.Tag })</p>
    }

    @if (Model.HasNext)
    {
        <p>@Html.ActionLink("Neste side", "Index", new { PageNumber = (Model.Filter.PageNumber + 1), PageSize = Model.Filter.PageSize, Order = Model.Filter.Order, Tag = Model.Filter.Tag })</p>
    }
</div>
