﻿pre.tag {
    display: inline-block;
    padding: 5px;
}

a, a:active, a:link, a:visited, a:hover {
    text-decoration: none;
}

.tagButtons {
  display: inline-block;
  padding: 5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.428571429;
  color: #333333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

/*Left-side menu, View Model*/
.meta-box {
    background-color: #333;
    color: white;
    width: 20%;
    padding: 5px;
    vertical-align: top;
    float: left;
    position: fixed;
    top: 50px;
    bottom: 0;
    padding-left: 15px;
}

.comment-field {
    resize: none;
    overflow: auto;
    border: 2px;
    border-radius:5px;
    width: 70%;
    height:100px;
    margin-bottom: 5px;
    }

/*Container for assigning tags, View Model*/
.addTag {
    height: 30px;
    width: 70%;
    padding: 6px 15px 6px 6px;
    margin: 0 auto;
    margin-right: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 0;
}

.container {
    max-width: 100%;
}

body {
    overflow: scroll;
}

.body-content {
    padding: 0;
}

.row {
    margin: 10px;
}

/*Container for image, View Model*/
.imagebox {
    width: 80%;
    float: right;
    text-align: center;
    margin: 0;
    position: relative;
    padding: 10px;
}

    .imagebox img {
        clear: both;
        max-width: 100%;
        height: auto;
    }



/*Left-side menu for filtering, tags, ...*/
.sort-box {
    background-color: #333;
    border: 1px solid black;
    color: #f3f3f3;
    width: 15%;
    padding: 5px;
    clear: none;
    float: left;
    position: fixed;
    top: 50px;
    bottom: 0px;
    padding-left: 15px;
    height: 100%;
}

/*Container for thumbnails*/
.gallerybox {
    width: 84%;
    float: right;
    background-color: white;
    text-align: center;
    margin-top: 20px;
}

footer {
    vertical-align: bottom;
    clear: both;
}

/*Menu for filtering date*/
.sort-box ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul li ul {
    display: none;
}

ul li:hover ul {
    display: block;
}
.years a {
    display: block;
    color: #FFF;
    background-color: #222;
    width: 100%;
    padding: 3px 12px 3px 8px;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    font-weight: bold;
}

    .years a:hover {
        background-color: #3f3f3f;
        color: #FFF;
    }

.years li li a {
    display: block;
    color: #FFF;
    background-color: #2f2f2f;
    width: 100%;
    padding: 3px 3px 3px 17px;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    font-weight: normal;
}

/*Searchbox for tags*/
.sortSearch {   
    width: 100%;
    padding: 6px 15px 6px 6px;
    margin: 0 auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 0;
}

/* star rating code - use lists because its more semantic */
/* No javascript required */
/* all the stars are contained in one matrix to solve rollover problems with delay */
/* the background position is just shifted to reveal the correct image. */
/* the images are 16px by 16px and the background position will be shifted in negative 16px increments */
/*  key:  B=Blank : O=Orange : G = Green * /
        /*..... The Matrix ....... */
/* colours ....Background position */
/* B B B B B - (0 0)*/
/* G B B B B - (0 -16px)*/
/* G G B B B - (0 -32px)*/
/* G G G B B - (0 -48px)*/
/* G G G G B - (0 -64px)*/
/* G G G G G - (0 -80px)*/
/* O B B B B - (0 -96px)*/
/* O O B B B - (0 -112px)*/
/* O O O B B - (0 -128px)*/
/* O O O O B - (0 -144px)*/
/* O O O O O - (0 -160px)*/


/* the default rating is placed as a background image in the ul */
/* use the background position according to the table above to display the required images*/
.rating {
    width: 100%;
    height: 16px;
    margin: 0 0 20px 0;
    padding: 0;
    list-style: none;
    clear: both;
    position: relative;
    background: url(star-matrix.gif) no-repeat 0 0;
}
/* add these classes to the ul to effect the change to the correct number of stars */
.nostar {
    background-position: 0 0;
}

.onestar {
    background-position: 0 -16px;
}

.twostar {
    background-position: 0 -32px;
}

.threestar {
    background-position: 0 -48px;
}

.fourstar {
    background-position: 0 -64px;
}

.fivestar {
    background-position: 0 -80px;
}

ul.rating li {
    cursor: pointer;
    /*ie5 mac doesn't like it if the list is floated\*/
    float: left;
    /* end hide*/
    text-indent: -999em;
}

    ul.rating li a {
        position: absolute;
        left: 0;
        top: 0;
        width: 16px;
        height: 16px;
        text-decoration: none;
        z-index: 200;
    }

    ul.rating li.one a {
        left: 0;
    }

    ul.rating li.two a {
        left: 16px;
    }

    ul.rating li.three a {
        left: 32px;
    }

    ul.rating li.four a {
        left: 48px;
    }

    ul.rating li.five a {
        left: 64px;
    }

    ul.rating li a:hover {
        z-index: 2;
        width: 80px;
        height: 16px;
        overflow: hidden;
        left: 0;
        background: url(star-matrix.gif) no-repeat 0 0;
    }

    ul.rating li.one a:hover {
        background-position: 0 -96px;
    }

    ul.rating li.two a:hover {
        background-position: 0 -112px;
    }

    ul.rating li.three a:hover {
        background-position: 0 -128px;
    }

    ul.rating li.four a:hover {
        background-position: 0 -144px;
    }

    ul.rating li.five a:hover {
        background-position: 0 -160px;
    }
/* end rating code */
h3 {
    margin: 0 0 2px 0;
    font-size: 110%;
}


/*Image Navigation*/

.lbPrevLink, .lbNextLink, .lbPrevLink:active,.lbNextLink:active {
	display: block;
	position: absolute;
    bottom:0;
	top: 0;
	width: 20%;
	outline: none;
    min-height:100%;
    opacity: 0;
}
.lbPrevLink:hover, .lbNextLink:hover, .lbPrevLink:active,.lbNextLink:active {
    font-size:156pt;
    opacity:0.5;
    color:black;
}

.lbPrevLink {
	left: inherit;
}

.lbNextLink {
	right: 0;
}

/*End of Image Navigation*/