﻿@model Dat210.PhotoManager.Web.Models.ImageViewModel
@{
    ViewBag.Title = Model.Image.Name + " - Bildegalleri";
}

<script>
    window.addEventListener('keydown', this.check, false);
    function check(e) {

        var code = e.keyCode;

        //Left Arrow Pressed
        if (code == 37) {
            var prev = "@Url.Content("~/Image/Previous/" + Model.Image.Id)";
            document.location = prev;
        }
        //Right Arrow Pressed
        if (code == 39) {
            var next = "@Url.Content("~/Image/Next/" + Model.Image.Id)";
            document.location = next;
        }
    }

    function setRating(newRating) {
        if (newRating == "@Model.Image.Rating") {
            newRating = 0;
        } 
        window.location.href = '/Image/SetRating/@Model.Image.Id?rating=' + newRating;
    }
</script>

@{
    var ratingClass = "rating ";
    if (Model.Image.Rating == 0) { ratingClass += "nostar"; }
    if (Model.Image.Rating == 1) { ratingClass += "onestar"; }
    if (Model.Image.Rating == 2) { ratingClass += "twostar"; }
    if (Model.Image.Rating == 3) { ratingClass += "threestar"; }
    if (Model.Image.Rating == 4) { ratingClass += "fourstar"; }
    if (Model.Image.Rating == 5) { ratingClass += "fivestar"; }
} 
<div class="meta-box">
    <p></p>
    <ul class="@ratingClass">
        <li class="one"><a href="javascript:setRating(1);" title="1 Star">1</a></li>
        <li class="two"><a href="javascript:setRating(2);" title="2 Stars">2</a></li>
        <li class="three"><a href="javascript:setRating(3);" title="3 Stars">3</a></li>
        <li class="four"><a href="javascript:setRating(4);" title="4 Stars">4</a></li>
        <li class="five"><a href="javascript:setRating(5);" title="5 Stars">5</a></li>
    </ul>
 
    <p>Bildenavn: @Model.Image.Name</p>
    <p>Dato tatt: @Model.Image.Taken</p>
    <p>Dato endret: @Model.Image.Modified</p>
    <p>Kamera: @Model.Image.CameraModel</p>
    <p>Størrelse: @{
                      if (Model.Image.Width > 0 && Model.Image.Height > 0)
                      {
                          @(Model.Image.Width + " x " + Model.Image.Height)
                      }
                  }</p>
    <p>
        <h4>Rotering</h4>
        <a href="@Url.Content("~/Image/Rotate/" + Model.Image.Id + "?counterClockwise=true")">
            <img src="/Content/rotate-counterclockwise.png" alt="Roter mot klokka" title="Roter mot klokka" />
        </a>
        <a href="@Url.Content("~/Image/Rotate/" + Model.Image.Id + "?counterClockwise=false")">
            <img src="/Content/rotate-clockwise.png" alt="Roter med klokka" title="Roter med klokka" />
        </a>
    </p>
    @if (Model.Image.Tags.Any())
    {
        <p>
            <h4>Tags:</h4>
            @foreach (var tag in Model.Image.Tags)
            {
                <div class="tagButtons">
                    <a href="@Url.Content("~/?tag=" + tag)" title="Klikk for å vise alle bilder merket med '@tag'">@tag</a>
                    <a href="@Url.Content("~/Image/RemoveTag/" + @Model.Image.Id + "?tag=" + @tag)" title="Klikk for å fjerne tag">✘</a>
                </div>
            }
        </p>
    }

    <h4>Legg til nytt tag:</h4>
    @using (Html.BeginForm("AddTag", "Image", new {id = Model.Image.Id}))
    {
        <p><input class="addTag" type="text" name="tag" /><input class="btn btn-default" type="submit" value="Legg til"></p>
    }
    <h4>Kommentar</h4>
    @using (Html.BeginForm("Comment", "Image", new {id = Model.Image.Id}))
    {
        <textarea class="comment-field" name="comment">@Model.Image.Comment</textarea><br />
        <input class="btn btn-default" type="submit" value="Legg til">   
    }

    <h4>Slette</h4>
    <p>
        <a onclick="if (!confirm('Er du helt sikker på at du vil slette bildet permanent?')){return false;}" href="@Url.Content("~/Image/Delete/" + Model.Image.Id)">
            <img src="@Url.Content("~/Content/delete.png")" alt="Slett" title="Slett"/>
        </a>
    </p>
</div>

<div class="imagebox">

    <a href="@Url.Content("~/Image/Image/" + Model.Image.Id)">
        <img src="@Url.Content("~/Image/Preview/" + Model.Image.Id + "?hash=" + Model.Image.Hash)" alt="@Model.Image.Name" title="@Model.Image.Name" />
    </a>
    <a class="lbPrevLink" href="@Url.Content("~/Image/Previous/" + Model.Image.Id)">&#x2039</a>

    <a class="lbNextLink" href="@Url.Content("~/Image/Next/" + Model.Image.Id)">&#x203a</a>

</div>
