﻿@model Dat210.PhotoManager.Web.Models.SystemViewModel
@{
    ViewBag.Title = "System";
}

<h2>Index</h2>

<p>Status: @Model.IndexingService.GetStatus()</p>

<table>
    @using (Html.BeginForm("SetPhotoLibraryPath", "System", new object()))
    {
        <tr>
            <td>@Html.Label("PhotoLibraryPath", "Photo Library Path: ")</td>
            <td>@Html.TextBox("PhotoLibraryPath", @Model.PhotoLibraryPath, new { size = 40 })</td>
            <td><input type="submit" value="Lagre" /></td>
        </tr>
    }

    @using (Html.BeginForm("SetThumbnailPath", "System", new object()))
    {
        <tr>
            <td>@Html.Label("ThumbnailPath", "Thumbnails Path: ")</td>
            <td>@Html.TextBox("ThumbnailPath", @Model.ThumbnailPath, new { size = 40 })</td>
            <td><input type="submit" value="Lagre" /></td>
        </tr>
    }
</table>